body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 85px auto 0;
  padding-bottom: 50px;
}

header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 16px;
  }

  h3,
  p {
    margin: 0;
  }
  .header-left {
    .header-info {
      p {
        color: #9d9d9d;
        font-size: 14px;
        line-height: calc(17 / 14);
      }
      h3 {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .header-right {
    .header-buy {
      cursor: pointer;
      .price {
        white-space: nowrap;
      }
    }
  }
}

.content {
  margin-top: 40px;
  padding: 0 60px;
  h1 {
    margin: 0;
  }
  .content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search-block {
      display: flex;
      align-items: center;
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      width: 250px;

      .clear {
        width: 20px;
        height: 20px;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }

      img {
        margin: 14px 12px 14px 18px;
      }

      input {
        border: none;
        font-size: 16px;
        width: 150px;
      }
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.green_button {
  width: 100%;
  background: #9dd558;
  border-radius: 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: calc(19 / 16);
  padding: 18px 0;
  border: none;
  margin-top: 24px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  &:hover {
    background-color: lighten($color: #9dd558, $amount: 5%);
  }
  &:active {
    background-color: darken($color: #9dd558, $amount: 5%);
  }
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  span {
    max-width: 285px;
    text-align: center;
    font-size: 16px;
    line-height: calc(24 / 16);
    opacity: 0.4;
  }
  .green_button {
    img {
      position: absolute;
      top: 20px;
      left: 33px;
      transform: rotate(180deg);
      transition: transform 0.2s ease-in-out;
    }
    &:hover {
      img {
        transform: translateX(-5px) rotate(180deg);
      }
    }
  }
}

.empty-favorites {
  margin: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
  }
  img {
    margin: 0 auto;
  }
  span {
    font-size: 16px;
    opacity: 0.4;
  }
  .green_button {
    img {
      position: absolute;
      top: 20px;
      left: 33px;
      transform: rotate(180deg);
      transition: transform 0.2s ease-in-out;
    }
    &:hover {
      img {
        transform: translateX(-5px) rotate(180deg);
      }
    }
  }
}
